// ==========================================================================
//
// BENEFITS SECTION
//
//
// ==========================================================================

// ==========================================================================
// # BASE
// ==========================================================================

.benefits__container {
    .benefits__list-container {
        padding: $spacing-unit $half-spacing-unit;

        @include mq(medium){ 
            padding: $double-spacing-unit $spacing-unit;
        }
    }

    .benefits__header-container {
        background-size: cover;
        background-position: center center;
        padding: $half-spacing-unit $half-spacing-unit 2 * $double-spacing-unit;
    }
}

.benefits__list {
    list-style: none;
    margin-bottom: 0;
    padding-left: 16px;
    text-indent: -32px;

    .benefits__list-item {
        margin-bottom: $quarter-spacing-unit;

        &:last-of-type {
            margin-bottom: 0;
        }

        &:before {
            content:''; 
            display:inline-block; 
            height: 16px; 
            width: 16px; 
            background-image: url("../svg/standalone/output/tick--white.svg");
            background-size:contain; 
            background-repeat:no-repeat; 
            padding-left: 32px;
            vertical-align: text-top;
        }
    }
}