// ==========================================================================
//
// BENEFITS SECTION
//
//
// ==========================================================================

// ==========================================================================
// # BASE
// ==========================================================================

$list-size: 1rem;

.benefits__container {
    .benefits__list-container {
        padding: $half-spacing-unit;

        @include mq(medium){ 
            padding: $spacing-unit;
        }
    }

    .benefits__tagline__container {
        background-size: cover;
        background-position: center center;
        position: relative;
        padding: 0 0 62.5% 0;

        @include mq(large) {
            padding: 0 0 50% 0;
        }

        .benefits__tagline__wrapper {
            position: absolute;
            top: $half-spacing-unit;
            left: $half-spacing-unit;
            padding-right: $half-spacing-unit;
        }
    }
}

.benefits__header {
    padding-left: 2 * $list-size;
}

.benefits__list {
    list-style: none;
    margin-left: $list-size;
    padding-left: $list-size;
    text-indent: -2 * $list-size;

    .benefits__list-item {
        margin-bottom: $quarter-spacing-unit;

        &:last-of-type {
            margin-bottom: 0;
        }

        &:before {
            content:''; 
            display:inline-block; 
            height: $list-size; 
            width: $list-size; 
            background-image: url("../svg/standalone/output/tick--white.svg");
            background-size:contain; 
            background-repeat:no-repeat; 
            padding-left: 2 * $list-size;
            vertical-align: text-top;
        }
    }
}