// ==========================================================================
//
// BENEFITS SECTION
//
//
// ==========================================================================

// ==========================================================================
// # BASE
// ==========================================================================

.benefits {

    .benefits__heading {
        padding-left: 40px;
    }

    .benefits__list {
        list-style: none;
        margin-bottom: 0;
        padding-left: 16px;
        text-indent: -32px;

        .benefits__list-item {
            margin-bottom: $quarter-spacing-unit;

            &:last-of-type {
                margin-bottom: 0;
            }

            &:before {
                content:''; 
                display:inline-block; 
                height: 16px; 
                width: 16px; 
                background-image: url("../svg/standalone/output/tick--white.svg");
                background-size:contain; 
                background-repeat:no-repeat; 
                padding-left: 32px;
                vertical-align: text-top;
            }
        }
    }

    .benefits__contact-centre {
        @include side-extension( color-get(blue), 'before' );
        padding-right: 24px;
    }

    .benefits__marketing {
        @include side-extension( color-get(green), 'after' );
        padding-right: 24px;
    }
}