// ==========================================================================
//
// CUSTOMER JOURNEY
//
// ==========================================================================

.customer-journey {
    .journey__step__copy {
        @include mq($until: medium){
            max-width: 80%;
            margin: auto;
        }
    }
}

// ==========================================================================
// # FLOURISHES
// ==========================================================================

.grid--flourishes {
    display: none;
    @include mq($from: 1150px){
        display: flex;
    }

    .flourish {
        position: relative;
        user-drag: none; 
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        pointer-events: none;

            stroke-dasharray: 270;
            stroke-dashoffset: 270;
            animation: dash 2s linear forwards;
          
          @keyframes dash {
            to {
              stroke-dashoffset: 0;
            }
          }

        &#flourish-1 {
            height: 48PX;
            right: -205PX;
            top: -45PX;
        }

        &#flourish-2 {
            height: 68PX;
            bottom: 5PX;
        }

        &#flourish-3 {
            height: 48PX;
            left: -175PX;
            top: -13PX;
        }
    }
}