// ==========================================================================
//
// PAGE HERO
//
// Description: The first section on a page. Normally has a fullbleed
//              background image and title.
//
// ==========================================================================

// ==========================================================================
// # BASE
// ==========================================================================

.page-hero {
    @include billboard(80vh);
    @include flex-col(flex-start, center);

    // Pad the top of the page hero to keep it below the fixed nav
    padding-top: 75px;
    @include mq($from: nav-break-2){
        padding-top: 86px;
    }

    h1, h2, h3 {
        color: color-get(white);
    }

    .blurb {
        max-width: 600px;
    }
}





// ==========================================================================
// # MODIFIER: HEIGHT
// ==========================================================================

.page-hero--fh {
    @include billboard(100vh);
}


.page-hero--image {
    @include billboard(56.25vw); // This keeps the section as 16:9 ratio
}
