// ============================================================

// PRIMARY OFFCANVAS

// Description: styles for OffCanvas Panels

// ============================================================


// ==========================================================================
// BASE
// ==========================================================================

.offcanvas__wrapper {
    @include ui-offcanvas();

    &.is-active {
        .offcanvas__offscreen--right {
            right: 0;
            top: 0;
        }

        .offcanvas__offscreen--top,
        .offcanvas__offscreen--left {
            left: 0;
            right: 0;
            top: 0;
            transition: all ease 0.25s;
        }

        @include mq(nav-break-2) {
            .primary-offcanvas {
                left: auto;
            }
        }
    }
}

.offcanvas__offscreen {
    background-color: color-get(white, default);
    transition: all ease 0.25s;

    .site-logo {
        picture, img {
            display: block;
            height: auto;
            width: 40px;
            margin: 0 auto $half-spacing-unit;
        }
    }
}

.primary-offcanvas__section {
    padding: $double-spacing-unit rem(25px);


    @include mq($from: medium) {
        padding: 25px 60px;
    }
}

.nav-primary--offcanvas {
    a {
        &:hover,
        &:focus,
        &:active {
            &:after {
                text-decoration: underline;

                // scss-lint:disable ImportantRule
                width: 0 !important;
            }
        }
    }
    .current-menu-item {
        a {
            text-decoration: underline;

            // scss-lint:disable ImportantRule
            &:after { width: 0 !important; }
        }
    }
}
