// ==========================================================================
//
// SERVICE OVERVIEW
//
// ==========================================================================

// ==========================================================================
// # BASE
// ==========================================================================

.service-overview__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.service-overview__copy {
    margin-bottom: (3 * $quarter-spacing-unit);
}

.service-overview__logo {
    display: block;
    margin: 0 auto;
    height: 70px;
    width: auto;
    max-width: 70px;
    margin-bottom: $half-spacing-unit;
}