// ==========================================================================
//
// SERVICE LISTING
//
// ==========================================================================

// ==========================================================================
// # BASE
// ==========================================================================

.service-listing__service {

    &:first-of-type {
        padding-top: 0;
    }

    &:last-of-type {
        padding-bottom: 0;
    }

    .service-listing__icon {
        display: block;
        margin-left: 0;
        margin-right: auto;
        height: auto;
        width: auto;
        max-height: 100px;
        max-width: 100px;
        fill: color-get(blue);
        margin-bottom: $half-spacing-unit;

        @include mq($from: large){
            margin-left: auto;
            margin-right: 0;
        }
    }

    .btn {
        display: block;
        margin: auto;
        @include mq($from: medium){
            margin: 0;
        }
    }
}

.integrations__logo {
    @include mq($from: medium){
        margin-bottom: $quarter-spacing-unit;
    }
}