// ==========================================================================
//
// FOOTER
//
// Description: layout and styling for site footer
//
// ==========================================================================

// ==========================================================================
// # BASE
// ==========================================================================

.footer {
    background-color: color-get(grey, dark);
    color: white;

    a {
        color: white;
    }

    .menu-footer {
        ul {
            list-style: none;
            margin: 0;
        }
    }

    .footer__site-logo {

        @include mq($until: medium) {
            margin-bottom: $half-spacing-unit;
            text-align: center;
        }

        .site-logo {
            picture, picture > img {
                height: 80px;
            }
        }
    }

    .footer__site-info {
        @include mq($until: medium) {
            text-align: center;
        }
    }

    .footer__address {
        text-align: right;

        @include mq($from: medium) {
            text-align: left;
        }
    }
}