// ==========================================================================
//
// SOCIAL MEDIA Icon
//
// Description: Horizontal list of Social Icons
//
// ==========================================================================
// ==========================================================================
// # BASE
// ==========================================================================

.social-menu {
    list-style: none;
    margin: 0 0 $quarter-spacing-unit;

    .social-menu__icon {
        height: rem(30);
        width: rem(30);
    }
}

.social-menu__item {
    display: inline-block;
    margin: 0 $quarter-spacing-unit;

    @include mq($from: xlarge){
        margin-left: 0;
    }

    &:first-of-type {
        .social-menu__link {
            
        }
    }
}

.social-menu__link {
    
}