// ==========================================================================
//
// PROTOTYPE
//
// Description: Set of simple styles for quick page prototypes
//
// ==========================================================================

.page-hero {
    background-color: color-get(primary);

    .page-template-template-about-us & {
        background-color: color-get(yellow);
    }

    .page-template-template-services & {
        background-color: color-get(blue);
    }

    .page-template-template-contact-us & {
        background-color: color-get(green);
    }
}

.customer-journey h3 {
    background-color: color-get(blue);
    border-radius: 50%;
    color: color-get(white);
    display: block;
    margin: 0 auto $quarter-spacing-unit;
    height: 45px;
    width: 45px;
    padding: 4px;
    @include mq($from: medium){
        padding: 0;
    }
}

.service-icon {
    display: block;
    margin: auto;
    height: 80px;
    width: auto;
    fill: color-get(blue);
    margin-bottom: $half-spacing-unit;
}

.endorsement-icon {
    margin-bottom: $quarter-spacing-unit;
}

section.team {
    background: color-get(grey) url("../images/team.jpg") center center / cover no-repeat;
    height: 70vh;    
    display: flex;
    align-items: flex-end;

    .grid {
        margin-left: 0;
    }

    .gc:last-of-type {
        background-color: color-get(blue);
        padding: $half-spacing-unit $spacing-unit;

        h2, p, ul {
            color: color-get(white);
        }
    }
}

.service {
    button {
        display: block;
        margin: auto;
        @include mq($from: medium){
            margin: 0;
        }
    }
    ul {
        padding-left: 1rem;
    }
}

.benefits ul {
    padding-left: 1rem;
}

.cta-banner .btn {
    margin-bottom: $quarter-spacing-unit;
}

.service-carousel p {
    margin-bottom: 0;
}