// ==========================================================================
//
// PROTOTYPE
//
// Description: Set of simple styles for quick page prototypes
//
// ==========================================================================

.page-hero {
    background-color: color-get(primary);

    .page-template-template-about-us & {
        background: color-get(yellow) url("../images/about-hero.jpg") center center / cover no-repeat;
    }

    .page-template-template-services & {
        background-color: color-get(blue);
    }

    .page-template-template-contact-us & {
        background-color: color-get(green);
    }
}

section.services {
    .gc {

        p {
            margin-bottom: (3 * $quarter-spacing-unit);
        }

        .service-logo {
            display: block;
            margin: auto;
            height: 70px;
            width: auto;
            margin-bottom: $half-spacing-unit;
        }
    }
}

.endorsement-icon {
    margin-bottom: $quarter-spacing-unit;
}

section.team {
    background: color-get(blue) url("../images/team.jpg") center center / cover no-repeat;
    height: 70vh;    
    display: flex;
    align-items: flex-end;

    .grid {
        margin-left: 0;
    }

    .gc:last-of-type {
        background-color: color-get(blue);
        padding: $half-spacing-unit $spacing-unit;

        h2, p, ul {
            color: color-get(white);
        }
    }
}

.service {
    .service-icon {
        display: block;
        margin-left: 0;
        margin-right: auto;
        height: auto;
        width: auto;
        max-height: 100px;
        max-width: 100px;
        fill: color-get(blue);
        margin-bottom: $half-spacing-unit;

        @include mq($from: large){
            margin-left: auto;
            margin-right: 0;
        }
    }

    button {
        display: block;
        margin: auto;
        @include mq($from: medium){
            margin: 0;
        }
    }
    ul {
        padding-left: 1rem;
    }
}

section.benefits {

    h2 {
        padding-left: 2 * $base-font-size;
    }

    ul {
        list-style: none;
        margin-bottom: 0;
        padding-left: 1em;
        text-indent: -2em;

        li {
            margin-bottom: $quarter-spacing-unit;

            &:last-of-type {
                margin-bottom: 0;
            }

            &:before {
                content:''; 
                display:inline-block; 
                height:1em; 
                width:1em; 
                background-image: url("../svg/standalone/output/tick--green.svg");
                background-size:contain; 
                background-repeat:no-repeat; 
                padding-left: 2em;
                vertical-align: text-top;
            }
        }
    }

    .benefits__contact-centre {
        @include side-extension( color-get(blue), 'before' );
        padding-right: 1.5em;
    }

    .benefits__marketing {
        @include side-extension( color-get(green), 'after' );
        padding-right: 1.5em;

        li:before {
            background-image: url("../svg/standalone/output/tick--blue.svg");
        }
    }
}

.cta-banner--double .btn {
    margin-bottom: $quarter-spacing-unit;

    @include mq($from: small){
        margin-bottom: 0;
    }
}

.service-carousel p {
    margin-bottom: 0;
}