// ==========================================================================
//
// PROTOTYPE
//
// Description: Set of simple styles for quick page prototypes
//
// ==========================================================================

.page-hero {
    background-color: #888;
    h1, h2 {
        color: white;
        text-shadow: 0 2.5px 5px rgba(0,0,0,0.2);
    }
}

.service-icon {
    border-radius: 50%;
    margin-bottom: $quarter-spacing-unit;
}

.endorsement-icon {
    margin-bottom: $quarter-spacing-unit;
}